body{
    background-color:  #b2beb5;
    
}
.frame{
        background-color: #ffffff;
        border-style: double;
        width : 800px;
        margin: 0px auto;
}
h1{
    text-align:center

}
.photo
{   margin-left: 550px;
    margin-top: 60px;

}
.content0{
    margin: 35px;
    margin-top:-180px;

}
.content1,h2{
    margin: 35px
}
table{
    border-style: solid;
    border-collapse: collapse;
}
td,th{
   padding : 12px;
    border:2px black solid;
    

}